.App {
  text-align: center;
}
h3{
  margin-top: 0px;
}
button {
  height: 80px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
  font-size: 30px;
}
.calculadora {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 3;
}
.historial {
  flex: 1;
  background: white;
  padding: 10px 8px;
  margin-left: 20px;
  text-align: left;
  overflow-y: auto;
  max-height: 416px;
}
.container {
  width: 700px;
  display: flex;
  background: #ddd;
  padding: 30px 20px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.inputs {
  width: 66.6%;
  /* background: yellow; */
  justify-content: space-between;
}
.inputs * {
  width: 33.3%;
}
.operadores {
  display: flex;
  width: 30%;
  /* background: blue; */
  flex-direction: column-reverse;
  justify-content: space-between;
}
.operadores * {
  font-size: 30px;
}
.display {
  width: 100%;
  background: white;
  padding: 5px;
  margin-top: 20px;
  box-shadow: 0px 0px 5px inset;
}